{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "never",
  "endOfLine": "auto",
  "singleAttributePerLine": true,
  "importOrder": ["^(?!app)\\w", "^app", "^\\./", "^\\.\\./"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
